<% provide(:title, "Edit user") %>
<h1>プロフィールを編集する</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.text_field :name, class: 'form-control', :placeholder => "ユーザーネーム" %>

      <%= f.email_field :email, class: 'form-control', :placeholder => "メールアドレス" %>

      <%= f.submit "保存", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>
