<% provide(:title, 'All users') %>
<h1>全ユーザー</h1>
<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.text_field :name_cont, placeholder: "検索" %>
  </div>
  <div class="actions"><%= f.submit "Search", class: "btn btn-primary" %></div>
<% end %>

<ul class="users">
  <%= render @res_user %>
</ul>

<%= will_paginate %>
